* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s ease;
}

body {
    overflow-x: hidden;
    margin-top: 100px;
}

.back_img {
    background-color: rgba(71, 70, 70, 0.685);
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    z-index: -2;
}

.sing_set {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sing_set:hover {
    opacity: 0.7;
}

.mobile {
    display: none;
}

.mobile_logo {
    display: none;
}

.Flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Flex_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.default_width {
    width: 1440px;
    margin: 0px auto;
}